  #app {
    text-align: center;
  }
  #welcomePage {
    text-align: center;
  }
  #searchPage {
    text-align: center;
    display: none;
  }
  #showPlaylistPage {
    text-align: center;
    display: none;
  }
  #finishPage {
    text-align: center;
    display: none;
  }
  input[type="text"] {
      border-radius: 25px;
      border: none;
      outline: none;
      padding: 10px 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s;
  }


  input[type="text"]:hover {
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }


  #search-results1 {
      display: none;
      margin-top: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      max-width: 310px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #search-results1 ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  #search-results1 li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
  }

  #search-results1 li:last-child {
      border-bottom: none;
  }

  #search-results1 li:hover {
      background-color: #f7f7f7;
  }

  #search-results2 {
      display: none;
      margin-top: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      max-width: 310px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #search-results2 ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  #search-results2 li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
  }

  #search-results2 li:last-child {
      border-bottom: none;
  }

  #search-results2 li:hover {
      background-color: #f7f7f7;
  }

  #search-results3 {
      display: none;
      margin-top: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      max-width: 310px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #search-results3 ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  #search-results3 li {
      padding: 10px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
  }

  #search-results3 li:last-child {
      border-bottom: none;
  }

  #search-results3 li:hover {
      background-color: #f7f7f7;
  }
  #search-results1, #search-results2, #search-results3 {
      width: calc(100% - 20px);
      ...
  }

  $(document).ready(function() {
      $('#submitBtn').click(function() {
          $('#searchForm').submit();
      });
  });





  
  
  
  