  body {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #app {
    text-align: center;
  }

  #showPlaylistPage {
    display: none; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  height: 100vh;
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
  }
  
  #finishPage {
    text-align: center;
    display: none;
  }

  /*
  Welcome page
  */
  #welcomePage {
    text-align: center;
  }

  .head1 {
    position: fixed;
    width: 100%;
    padding: 10px 0; 
    height: 160px;
    display: grid;
    place-items: center;
  }

  
  .logo{
    background-image: url(image.png);
    background-position: center center;
    margin-top: inherit;
  }

  .bg1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 419px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 68px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 88.23%);    
  }
  
  .description{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 391px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italics;
    color: white;
    font-weight: 200;
    line-height: 1.6;
    text-align: none;
  }
      
  img {
    margin-left: auto;
    margin-right: auto;
  }

  .foot1{
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    height: 210px;
  }
  
  .button {
    background-color: rgba(38, 215, 105, 1); 
    border: none;
    color: white;
    padding: 10px 68px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;

    
    font-size: 26px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;

    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  
  .button:hover {
    background-color: rgb(13, 125, 56); 
  }


  /* 
  Search Page
  */
  #searchPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; 
  }

  .bg2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 419px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 68px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 88.23%);    
  }
 
  .cont1 {
    margin-top: 30px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="text"] {
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    display: block; 
    margin: 0 auto;
  }
  
  input[type="text"]:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  

  /* 
  Result container
  */
  .results {
    min-height: 100px; 
    margin: 50px 0;
    margin-left:  auto;
    margin-right: auto;
    width: 184px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .foot2{
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    height: 0px;
  }
  
  
  /* 
  Search button
  */
  #submit-button{
    margin-top: auto; 
    background-color: rgba(38, 215, 105, 1); 
    border: none;
    color: white;
    padding: 10px 68px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 26px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  #submit-button:hover {
    background-color: rgb(13, 125, 56); 
  }
  
  /* 
  List results 
  */
  #search-results1, #search-results2, #search-results3 {
    display: none;
    background-color: transparent;
    color: #fff; 
    font-family: Arial, sans-serif;  
  }
  #search-results1 ul, #search-results2 ul, #search-results3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #search-results1 li, #search-results2 li, #search-results3 li {
    width: auto;
    padding: 8px;
    cursor: pointer;
    border-radius: 0; 
    transition: background-color 0.3s, border-radius 0.3s;
  }
  #search-results1 li:last-child, #search-results2 li:last-child, #search-results3 li:last-child {
    border-bottom: none;
  }
  #search-results1 li:hover, #search-results2 li:hover, #search-results3 li:hover {
    background-color: #505050;
    border-radius: 10px;
  }
  #search-results1, #search-results2, #search-results3 {
      width: 100%;
      
  }

  .head3 {
  display: grid;
    display: grid;
    place-items: center;
  }

.scrollable-list {
  width: 400px;
  height: 500px; 
  overflow-y: auto; 
  background: transparent;
  color: #fff; 
  box-sizing: border-box;
}

.scrollable-list::-webkit-scrollbar {
  width: 10px; 
}

.scrollable-list::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

.track {
  background: #222; 
  border-radius: 10px; 
  box-sizing: border-box; 
  padding: 1px 16px !important; 
  margin: 4px 0 !important; 
  height: 50px;
  max-height: 50px; 
}
.track-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 0px;
}

.track-name {
  margin: 0; 
  padding: 5px 0; 
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.artist-name {
  color: #d8d8d8;
  font-size: 13px;
  margin: 0;
  padding: 0px 0;
  font-family: Arial, sans-serif;
  font-style: italic;
}
.description2{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: italics;
  color: white;
  font-weight: 200;
  line-height: 1.6;
  text-align: none;
}
.cont3 {
  place-items: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}
.foot3{
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  text-align: center; 
  padding: 10px 0; 
  height: 160px;
}
/* 
  Create button
  */
  .button3{
    margin-top: auto; 
    background-color: rgba(38, 215, 105, 1); 
    border: none;
    color: white;
    padding: 10px 68px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 26px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    margin: 80px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  .button3:hover {
    background-color: rgb(13, 125, 56); 
  }

  /* 
  Restart button
  */
  .bg4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 419px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 68px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 88.23%);    
  }

  .foot4{
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    height: 210px;
  }

  .button4{
    margin-top: auto; 
    background-color: rgba(38, 215, 105, 1); 
    border: none;
    color: white;
    padding: 10px 68px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 26px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  .button4:hover {
    background-color: rgb(13, 125, 56); 
  }

  .description4{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 391px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italics;
    color: white;
    font-weight: 200;
    line-height: 1.6;
    text-align: none;
  }
    /*
    Error page
    */

  .bgErr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 419px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 68px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 88.23%);    
  }
  
  .message{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 391px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: italics;
    color: white;
    font-weight: 200;
    line-height: 1.6;
    text-align: center;
  }
  .home-button{
    background-color: rgba(38, 215, 105, 1); 
    border: none;
    color: white;
    padding: 10px 68px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;

    
    font-size: 26px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;

    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
  }
  .home-button:hover {
    background-color: rgb(13, 125, 56); 
  }
  .footErr{
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    height: 210px;
  }



  





  
  
  
  