<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Музыкальное приложение</title>
  <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div id="app">

    <div id="welcomePage">
      <div class="head1"> 
        <div class="logo">
          <img src="toShuffle.png" alt="image">
        </div>
      </div>
      <div class="bg1">
        <div class="description">
          This app will create a playlist from the top
           5 tracks of three chosen artists and save it to your Spotify account
        </div>
      </div>
      <div class="foot1">
        <button class="button" onclick="toSearch()">Start</button>
      </div>
    </div>

    <div id="searchPage">
        <form id="sendInputs" action="/showPlaylist" method="get">
          <div class="bg2">
            <div class="cont1">
              <input type="text" name="searchInput1" id="search-input1" placeholder="Artist name...">
              <input type="text" name="searchInput2" id="search-input2" placeholder="Artist name...">
              <input type="text" name="searchInput3" id="search-input3" placeholder="Artist name...">
            </div>
         
            <div class="results">
              <div id="search-results1" class="search-results"></div>
              <div id="search-results2" class="search-results"></div>
              <div id="search-results3" class="search-results"></div>
            </div>
            <button type="button" id="submit-button">Далее</button>
          </div>
          
      
            
        </form>
    </div>

    <div id="showPlaylistPage">
      <div class="description2">
          Playlist is ready to be created
        </div>
        <button onclick="toFinish()">Создать</button>
    </div>

    <div id="finishPage">
        <p>Начнем сначала?</p>
        <button onclick="toWelcome()">В начало</button>
    </div>


    
  <script src="script.js"></script>
  </div>
</body>
</html>
